*{
    font-family: sans-serif;
    color: #444444;
}
body{
    background-color: grey;
}
.container{
    padding: 20px;
    margin: 80px;
    margin-right: 120px;
    margin-left: 120px;
    background-color: white;
    border-radius: 5px;
}
.content{
    margin: 20px;
    align-items: center;
}
tr{
    margin: 10px;
    padding: 10px;
}
td{
    margin: 10px;
    padding: 10px;
}
.tabel_form{
    margin-left: auto;
    margin-right: auto;
}
.button{
    background-color: black;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
.button_pendaftar{
    background-color: rgb(51, 154, 214);
    text-decoration: none;
    border: 1px solid white;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.tabel_pendaftar{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
fieldset{
    border-radius: 5px;
}
input {
    padding-right: 100px;
    padding: 5px;
    border-radius: 6px;
}
.tgl-box{
    padding-right: 40px;
}
th{
    padding: 10px;
    margin: 10px;
}